<div class="container-white">
    <header>
        <h2>Dashboard</h2>
    </header>
    <div id="container" class="content">
        <div class="row">
            <div class="col-md-4">
                <table class="table table-bordered">
                    <caption style="caption-side: top; text-align: center;">New Claims</caption>
                    <tbody>
                    <tr>
                        <td>American</td>
                        <td>2017-02-03</td>
                        <td>$1,500,000</td>
                    </tr>
                    <tr>
                        <td>Southwest</td>
                        <td>2017-01-30</td>
                        <td>$758,500</td>
                    </tr>
                    <tr>
                        <td>American</td>
                        <td>2017-01-25</td>
                        <td>$3,250,000</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-bordered">
                    <caption style="caption-side: top; text-align: center;">Open Claims</caption>
                    <tr>
                        <td>American</td>
                        <td>2</td>
                        <td>Review</td>
                    </tr>
                    <tr>
                        <td>American</td>
                        <td>1</td>
                        <td>Processing</td>
                    </tr>
                    <tr>
                        <td>Southwest</td>
                        <td>1</td>
                        <td>Processing</td>
                    </tr>
                    <tr>
                        <td>Southwest</td>
                        <td>2</td>
                        <td>Submitted</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-bordered">
                    <caption style="caption-side: top; text-align: center;">Unpaid Claims</caption>
                    <tr>
                        <td>Southwest</td>
                        <td>52 days</td>
                    </tr>
                    <tr>
                        <td>Southwest</td>
                        <td>36 days</td>
                    </tr>
                    <tr>
                        <td>American</td>
                        <td>28 days</td>
                    </tr>
                    <tr>
                        <td>Southwest</td>
                        <td>14 days</td>
                    </tr> 
                    <tr>
                        <td>American</td>
                        <td>5 days</td>
                    </tr>                            
                </table>
            </div>
        </div>
        
         <div class="row">
            <div class="col-md-4 align-center">
                <img src="./img/claims_by_quarter.png" border=0 />
            </div>
            <div class="col-md-4 align-center">
                <img src="./img/open_claims.png" border=0 />
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
